{{ with .Site.GetPage "section" "references" }}
<div class="pt-1 pb-7  bg-white">
  <section class="container text-center">
  <div class="row">
    {{ $bundle := .Site.GetPage "section" "media" }}
      {{ range first 4 .Params.gallery }}
        {{ $fileName := strings.TrimPrefix "/media/" .image }}
        {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
        {{ $resizedImg := $img.Resize "400x280" }}
        <div class="col-md-3 grid-item-image2 mb-0 mb-md-0 px-5 py-3 p-md-3">
          <a href="/references#gallery">
            <img src="{{ $resizedImg.RelPermalink }}" class="img-fluid" alt="">
          </a>
        </div>
      {{ end }}
  </div>
</section>
</div>
{{ end }}
